
* {
	padding: 0;
	margin: 0;
	font-family: $font-family;
}
a:hover {
	text-decoration: none!important;
}
body {
	background: $background-body !important;
}
img {
	max-width: 100%;
	max-height: 100%;
}
header {
	background-color: #fefefe;
	.row {
		height: $header-height;
	}
	.search {
		display: table;
		button {
			outline: none;
		}
		input {
			width: $search-width;
			outline: none;
		}
	}
}	
nav {
	a {
		color: black;

		&:hover {
			border-bottom: 2px solid red !important;
			color: red !important;	
			text-decoration: none;
		}
	}
	.active {
		border-bottom: 2px solid red !important;
		color: red !important;	
	}
}
#cover {
	height: $cover-height;
	background: linear-gradient(0deg, $background-cover, $background-cover ), url(../../images/cover.png) repeat;

	background-position: center center;
	p {
		font-size: smaller;
	}
}
.thin {
	max-width:150px;    
}
.carousel {
	height: $carousel-height;
	.window {
		overflow: hidden;
		position: relative;
		height: $window-height;
	}
	.pn {
		height: 30px;
	}
	ul {
		list-style: none;
		height: 10000px;
		top: 0;
		left: 0;
		position: absolute;
		padding: 0px;
		li {
			margin: 15px 0 0;
			box-sizing: border-box; 
			border:1px solid white;
			width: 100%;
			&:hover {
				border:1px solid red;
			}
			img {
				width: 100%;
				height: $carousel-img-height;
			}
		}
		li:first-child {
			margin: 0;
		}
	}
}
.cardd {
	.title {
		hr {
			border-color: red; width: 50px;
		}
	}
}
@media screen and (max-width: 1000px) and (min-width: 400px) {
	.cardd {
		display: none;
	}
}
.description {
	img {
		max-width: 100%;
	}
}
.tags {
	a {
		color: $orange !important;
		background: $background-body !important;
	}
}
.card {
	height: $card-height;
}
.top-card {
	height: $card-height-top;
}

footer {
	background: $background-footer;
	color: #999;
	.address {
		border-top: 0.05rem solid #666;
		border-bottom: 0.05rem solid #666;
	}
	i {
		color: $orange;
	}
	h6 {
		color: $orange;
		font-size: 0.85rem;
	}
	.contact,.menu {
		font-size: small;
	}

}