* {
	padding: 0;
	margin: 0;
}
body {
	background: #f5f4f0 !important;
}
header {
	background-color: #fefefe;
	.row {
		height: 100px;
	}
	.search {
		display: table;
		button {
			user-select: none;
		}
	}
}
nav {
	a {
		color: black;

		&:hover {
			border-bottom: 2px solid red !important;
			color: red !important;	
			text-decoration: none;
		}
	}
	.active {
			border-bottom: 2px solid red !important;
			color: red !important;	
	}
}
#cover {
	height: 170px;
	background: url('../../images/cover.png');
	background-repeat: no-repeat;
	background-position: center center;
	p {
		font-size: smaller;
	}
}
.detail {

	.slider {
		.pn {
			height: 30px;
		}
		div {
			box-sizing: border-box; 
			border:1px solid white;
			&:hover {
				border:1px solid red;
			}
		}
		img {
			width: 100%;
		}
	}
	button {
		background: red !important;
	}
}
@media screen and (max-width: 992px) {
	.detail .slider {
		.image-detail {
			width: 18%;
			display: inline-block !important;
		}
		.pn {
			width: 11%;
			display: inline-block !important;
			transform: rotate(270deg)
		}
}
	
}
@media screen and (max-width: 1000px) and (min-width: 400px) {
	.cardd {
		display: none;
	}
}
.description {
	img {
		max-width: 100%;
	}
}
.tags {
	a {
		color: #ee2211 !important;
		background: #f5f4f0 !important;
	}
}
.top-card {
	height: 190px;
}

footer {
	background: #111;
	color: #999;
	hr {
		background-color: #666;
		height: 0.05rem !important;
		border: none;
	}
	i {
		color: #ee2211;
	}
	h6 {
		color: #ee2211;
		font-size: 0.85rem;
	}
	.contact,.menu {
		font-size: small;
	}

}