$font-family: 'Roboto Slab', serif;
$background-body: #f5f4f0 ;
$background-cover: rgba(238,34,17,0.5);
$background-footer: #111;
$orange: #ee2211;
$cover-height: 10.62rem;
$header-height: 6.25rem;
$card-height: 18.75rem;
$card-height-top: 11.87rem;
$search-width: 15rem;
$carousel-height: 25rem;
$window-height: 21.87rem;
$carousel-img-height: 4.2rem;